footer.footer
    .footer__icon
         i.fab.fa-youtube
<<<<<<< HEAD
    span.footer__text Wetue #{new Date().getFullYear()} &copy;
=======
    span.footer__text Wetube #{new Date().getFullYear()} &copy;
>>>>>>> e55afa57100c9a2e7f2778a8f3f543b25c762020
