.social-login
    button.social-login-github
        span
            i.fab.fa-github
        | Continue with Github 
        //- continue가 태그로 인식 |는 뒤에를 텍스르로 바꿔줌
    button.social-login--facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook